/*  ============= BASE DEL DOCUMENTO ================ */
* {
  margin: 0%;
  padding: 0; }

body {
  background-color: #eaefe9;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }

/*  =================================================== */
/*======== ANIMACIONES ========*/
@keyframes animaciontitulo {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

/*======== VARIABLES ========*/
header {
  grid-area: header;
  width: 100%;
  height: 200px;
  background-image: url(../public/back1.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #eaefe9; }
  header .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px; }
  header .contenedormq {
    visibility: hidden;
    display: none;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px; }
  header .logo {
    align-items: center;
    justify-content: center; }
  header .datos {
    align-items: center;
    justify-content: center;
    justify-items: center; }
  header #header-titulo {
    color: #314636;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #838383;
    font-size: 20pt; }
  header .datos {
    animation-delay: 0ms;
    display: inline-block;
    margin: 0 0.5rem;
    animation-name: animaciontitulo;
    animation-duration: 3s; }
  header #header-datos {
    color: #3f3f3f;
    text-align: left; }

nav {
  grid-area: nav;
  padding-top: 20px;
  padding: 0%;
  background-color: #c0eeaf; }
  nav .navbar-nav {
    padding-top: 10px; }
  nav .navbar-nav li {
    font-size: 14pt; }
  nav .navbar-nav li:hover {
    background-color: #ccc;
    border-radius: 10px; }
  nav .navbar {
    background-color: #c0eeaf; }
  nav .navbar-brand {
    padding-top: 10px;
    font-size: 15pt; }
  nav .container-fluid {
    background-color: #c0eeaf; }

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 1.5em;
  /* =========MAIN(BASIC)======== */
  /* =========MAIN(NOSOTROS)======== */
  /* =========MAIN(ALUMNOS)======== */ }
  main #home-main-contenido {
    background: white;
    padding-top: 2em;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between 2em;
    background-color: #eaefe9;
    text-align: left; }
  main main ul {
    list-style: none; }
  main #home-h2 {
    text-decoration: underline;
    font-size: 22px;
    color: #6fa05e; }
  main h3 {
    font-size: 17px; }
  main h4 {
    font-size: 16px;
    font-weight: bold; }
  main h5 {
    font-size: 15px; }
  main p {
    font-size: 14px; }
  main li {
    font-size: 14px; }
  main .ubicacion {
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    justify-self: right; }
  main .ubicacion iframe {
    width: 250px;
    height: 250px;
    border: solid #c0eeaf;
    border-radius: 30px; }
  main #home-h2 {
    text-decoration: underline;
    color: #6fa05e;
    font-size: 13pt;
    text-align: left; }
  main #home-h2ubi {
    text-decoration: underline;
    color: #6fa05e;
    font-size: 13pt;
    text-align: left; }
  main li {
    margin-bottom: 20px; }
  main .fichas {
    padding: 20px;
    border-radius: 20px;
    border: solid #c0eeaf 2px; }
  main .actividades {
    padding: 20px;
    border-radius: 20px;
    border: solid #c0eeaf 2px; }
  main #tablaalumnos {
    font-size: small;
    text-align-last: auto; }

/* =========MAIN(DOCENTES)======== */
#tabladocentes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  list-style: none;
  border-spacing: 20px;
  font-size: small;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  text-align: center; }

main .col {
  text-align: center;
  font-size: 8pt; }

aside {
  align-items: right;
  padding: 0%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  justify-self: right;
  margin-right: 25px; }
  aside .nav-item {
    background-color: #c0eeaf; }
  aside nav {
    background-color: #c0eeaf; }

footer {
  grid-area: footer;
  width: 100%;
  background-color: #c0eeaf;
  margin: 0%; }
  footer .d-flex {
    margin: 0%; }
  footer .contenedorf {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding: 10px;
    padding-left: 50px;
    text-align: center;
    align-self: center;
    align-items: center; }
  footer .row h5 {
    font-size: 11px; }
  footer .row .nav-item {
    font-size: 10px; }
  footer .formulario {
    width: 1fr;
    font-size: 11px; }
    footer .formulario text-align:left
p {
      font-size: 8px; }
  footer .textofinal {
    text-align: center;
    background-color: #c0eeaf;
    font-size: 8px; }

/*======== MEDIA QUERIES ========*/
@media screen and (min-width: 768px) {
  header .contenedor {
    display: none;
    visibility: hidden; }
  header .contenedormq {
    display: block;
    visibility: visible; }
  /* NAV */
  nav {
    font-size: 12pt; }
    nav #nav-lista li {
      padding: 0px 20px; }
  /* --------MAIN GRID (NOSOTROS)-------- */
  main {
    /* MAIN DOCENTES */
    /* FONT SIZES (MAIN) */ }
    main .main-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      grid-template-areas: "izquierda derecha"; }
    main .ubicacion {
      grid-area: derecha;
      text-align: center;
      padding-top: 30px;
      align-items: center;
      justify-content: center; }
    main .ubicacion iframe {
      width: 300px;
      height: 600px;
      border: solid #c0eeaf;
      border-radius: 30px; }
    main #home-h2ubi {
      text-decoration: underline;
      color: #6fa05e;
      font-size: 13pt;
      text-align: center; }
    main li {
      margin-bottom: 20px; }
    main #tabladocentes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center;
      list-style: none;
      border-spacing: 20px;
      font-size: small;
      align-items: flex-start;
      justify-content: center;
      justify-items: center;
      text-align: center; }
    main main .col {
      text-align: center;
      font-size: 8pt; }
    main #home-h2 {
      text-decoration: underline;
      font-size: 25px;
      color: #6fa05e; }
    main h3 {
      font-size: 19px; }
    main h4 {
      font-size: 18px; }
    main h5 {
      font-size: 17px; }
    main p {
      font-size: 16px; } }

footer .row h5 {
  font-size: 17px; }

footer .row .nav-item {
  font-size: 16px; }

footer .formulario {
  font-size: 16px; }
  footer .formulario p {
    font-size: 13px; }

footer .textofinal {
  font-size: 12px;
  text-align: center; }

@media screen and (min-width: 991px) {
  .navbar-brand {
    visibility: hidden;
    overflow: hidden;
    display: none; } }

/*  ============= CONDICIONALES ================ */
h5 {
  color: #6fa05e; }
