* {margin: 0%;padding: 0;}

/* BASE DEL DOCUMENTO */

body {
    background-color: rgb(234, 239, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

grid-template-areas: 
"header header"
"nav nav"
"main main"
"footer footer";

}


/* ACTIVADOR DE BORDES DE CONTENEDORES
header,nav,main,footer,aside {border: solid red 1px} */

header {grid-area: header;
width: 100%;
height: 200px;
background-image: url(./public/back1.jpg); 
background-size: cover; 
align-items: center;
justify-content: center;
text-align: center;
margin: auto;
background-color: rgb(234, 239, 233);
}

nav {
    grid-area: nav;
    padding-top: 20px;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 1.5em;
    
;}


footer {
    grid-area: footer;

width: 100%;
    
}






}

