/*  ============= BASE DEL DOCUMENTO ================ */
* {
  margin: 0%;
  padding: 0; }

body {
  background-color: #eaefe9;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "nav nav" "main main" "footer footer"; }

/*  =================================================== */
/*======== MEDIA QUERY ========*/
@media screen and (min-width: 768px) {
  #home-h2 {
    text-decoration: underline;
    color: #026e6e;
    font-size: 17pt; }
  main h3 {
    font-size: 14pt; }
  main h4 {
    font-size: 13pt; }
  main h5 {
    font-size: 12pt; }
  main p {
    font-size: 11pt; }
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: "izquierda derecha"; }
  .ubicacion iframe {
    width: 300px;
    height: 600px;
    border: solid #0ea1a1;
    border-radius: 30px; }
  .ubicacion {
    grid-area: derecha;
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center; }
  #home-h2ubi {
    text-decoration: underline;
    color: #026e6e;
    font-size: 13pt;
    text-align: center; }
  #home-h2 {
    text-decoration: underline;
    color: #026e6e;
    font-size: 17pt; } }

nav {
  font-size: 12pt; }
  nav #nav-lista li {
    padding: 0px 20px; }

li {
  margin-bottom: 20px; }

#footerdatos2 {
  visibility: hidden;
  display: none; }

#footerdatos1 {
  visibility: visible;
  display: block; }

@media screen and (min-width: 991px) {
  .navbar-brand {
    visibility: hidden;
    overflow: hidden;
    display: none; } }

/*======== ANIMACIONES ========*/
@keyframes animaciontitulo {
  from {
    margin-top: 100%;
    height: 200%; }
  to {
    margin-top: 0%;
    height: 100%; } }

header {
  grid-area: header;
  width: 100%;
  height: 200px;
  background-image: url(../public/back1.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #eaefe9; }
  header .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px; }
  header .logo {
    align-items: center;
    justify-content: center; }
  header .datos {
    align-items: center;
    justify-content: center;
    justify-items: center; }
  header #header-titulo {
    color: #314636;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 4px #838383;
    font-size: 20pt; }
  header .datos {
    animation-delay: 0ms;
    display: inline-block;
    margin: 0 0.5rem;
    animation-name: animaciontitulo;
    animation-duration: 2s; }
  header #header-datos {
    color: #3f3f3f;
    text-align: left; }

nav {
  grid-area: nav;
  padding-top: 20px;
  padding: 0%; }
  nav .navbar-nav {
    padding-top: 12px; }
  nav .d-flex {
    padding-bottom: 15px; }
  nav .navbar-nav li {
    font-size: 14pt; }
  nav .navbar-nav li:hover {
    background-color: #ccc;
    border-radius: 10px; }
  nav .navbar {
    background-color: #c0eeaf; }
  nav .navbar-brand {
    padding-top: 10px;
    font-size: 15pt; }

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 1.5em;
  /* =========MAIN(BASIC)======== */
  /* =========MAIN(NOSOTROS)======== */
  /* =========MAIN(ALUMNOS)======== */ }
  main #home-main-contenido {
    background: white;
    padding-top: 2em;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between 2em;
    background-color: #eaefe9;
    text-align: left; }
  main main ul {
    list-style: none; }
  main #home-h2 {
    text-decoration: underline;
    color: #026e6e;
    font-size: 15pt; }
  main h3 {
    font-size: 12pt; }
  main h4 {
    font-size: 11pt; }
  main h5 {
    font-size: 10pt; }
  main p {
    font-size: 9pt; }
  main li {
    font-size: 9pt; }
  main .ubicacion {
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    justify-self: right; }
  main .ubicacion iframe {
    width: 250px;
    height: 250px;
    border: solid #0ea1a1;
    border-radius: 30px; }
  main #home-h2 {
    text-decoration: underline;
    color: #026e6e;
    font-size: 13pt;
    text-align: left; }
  main #home-h2ubi {
    text-decoration: underline;
    color: #026e6e;
    font-size: 13pt;
    text-align: left; }
  main li {
    margin-bottom: 20px; }
  main .fichas {
    padding: 20px;
    border-radius: 20px;
    border: solid #00ad74 2px; }
  main .actividades {
    padding: 20px;
    border-radius: 20px;
    border: solid #00ad74 2px; }
  main #tablaalumnos {
    font-size: small;
    text-align-last: auto; }

/* =========MAIN(DOCENTES)======== */
#tabladocentes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  list-style: none;
  border-spacing: 20px;
  font-size: small;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  text-align: center; }

main .col {
  text-align: center;
  font-size: 8pt; }

aside {
  align-items: right;
  padding: 0%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  justify-self: right;
  margin-right: 25px; }
  aside .nav-item {
    background-color: #c0eeaf; }
  aside nav {
    background-color: #c0eeaf; }

footer {
  grid-area: footer;
  width: 100%; }

.page-footer {
  background-color: #c0eeaf; }

#footerdatos2 {
  visibility: hidden;
  display: none; }

#footerdatos1 {
  visibility: visible;
  display: block; }

h3 {
  font-style: italic;
  font-size: 8pt;
  color: black; }

footer h5 {
  font-size: 12pt bold;
  text-align: center; }

footer h6 {
  font-size: 9pt; }
