aside {
    align-items: right;
    padding: 0%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    justify-self: right;
    margin-right: 25px;

    .nav-item {
        background-color: rgb(192, 238, 175);
    }
    nav {
        background-color: rgb(192, 238, 175)
    }
}
