footer {
    grid-area: footer;

    width: 100%;
    
    background-color: $colorbasic; 

    margin: 0%;

    padding: 10px;

    
    #newsletter1 {
      font-size: 8px
    }

    .btn {
      font-size: 10px
    }

    form h5 {
      font-size: 12px
    }

    .d-flex {
      margin: 0%;
    }

    .row {

    h5 {
      font-size: 11px;
    }

    .nav-item {
      font-size: 10px;
      text-decoration: none;    
    }

    
  }

  .formulario {
    width: 1fr;
    font-size: 11px;
    text-align:left

  p {
    font-size: 8px
  }
  }

  .textofinal {
    text-align: center;
    background-color: $colorbasic;
    font-size: 8px;
  }
}