footer {
    grid-area: footer;

    width: 100%;
    
    background-color: $colorbasic; 

    margin: 0%;

    .d-flex {
      margin: 0%;
    }

    .contenedorf {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--bs-gutter-y));
      margin-right: calc(-.5 * var(--bs-gutter-x));
      margin-left: calc(-.5 * var(--bs-gutter-x));
      padding:10px;
      padding-left:50px;
      text-align: center;
      align-self: center;
      align-items: center;
      
    }

    .row {

    h5 {
      font-size: 11px;
    }

    .nav-item {
      font-size: 10px;
    }

    
  }

  .formulario {
    width: 1fr;
    font-size: 11px;
    text-align:left
  }

  .textofinal {
    text-align: center;
    background-color: $colorbasic;
    font-size: 8px;
  }
}