footer {
    grid-area: footer;

    width: 100%;}

    .page-footer {
      background-color: $colorbasic; 
    }
  
    #footerdatos2 {
      visibility: visible;
      display: block;
    }
  
  
     #footerdatos1 {
      visibility: hidden;
      display:none
    }
  
    h3 {
      font-style: italic; font-size: 8pt; color: black;
    }
  
    footer h5 {
        font-size: 12pt bold;
        text-align: center;
       
    }
    
    footer h6 { font-size: 9pt;
  
    }
