main {
    grid-area: main;
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 1.5em;
 
    
/* =========MAIN(BASIC)======== */

    #home-main-contenido {
        background: white; 
        padding-top: 2em; 
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between 2em;
        background-color: rgb(234, 239, 233);
        text-align: left;
    
    }
    
    main ul {
        list-style: none;
    }
    
    #home-h2 {
        text-decoration: underline;
        font-size: $fmtitulos;
        color: $titlecolor
        }

        h3 {
        font-size: $fmfechas;
        }

        h4 {
        font-size: $fmsubtitulos
        }

        h5 {
        font-size: $fmestandar;
        }

        p {
        font-size: $fmcontenido;
        }
    
    li {
        font-size: $fmcontenido
    }
    

    /* =========MAIN(NOSOTROS)======== */
    
    .ubicacion {
   
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    justify-self: right;
    }

    .ubicacion iframe {
    width: 250px;
    height: 250px;
    border: solid $colorbasic;
    border-radius: 30px;
    }

    #home-h2 {
        text-decoration: underline;
        color: $titlecolor;
        font-size: 13pt;
        text-align: left; 
    }

    #home-h2ubi {
    text-decoration: underline;
    color: $titlecolor;
    font-size: 13pt;
    text-align: left; 
    }

    li {margin-bottom: 20px;}
    
    
    /* =========MAIN(ALUMNOS)======== */
    .fichas {
    padding: 20px;
    border-radius: 20px;
    border: solid $colorbasic 2px;
    }

    .actividades {
    padding: 20px;
    border-radius: 20px;
    border: solid $colorbasic 2px;
    
    }

    #tablaalumnos{
    font-size: small; text-align-last: auto;
    }
    }

    /* =========MAIN(DOCENTES)======== */

    #tabladocentes {
        display: grid;  
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        list-style: none;
    
    
        border-spacing: 20px;
        font-size: small  ;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    
    main .col {
        text-align: center;
        font-size: 8pt
    }

    
    