
/*======== MEDIA QUERIES ========*/

@media screen and (min-width:768px) 

{
/* HEADER */

    header {
        .contenedor {
            @include ocultar;
        }

        .contenedormq {
            @include mostrar;
        }
    }


/* NAV */

  nav {
    font-size: 12pt;
    #nav-lista li {
       padding: 0px 20px;
}
}


/* MAIN GRID (NOSOTROS) */

main {
    .main-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "izquierda derecha";
    }

    .ubicacion {
    grid-area: derecha;
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    }

    .ubicacion iframe {
    width: 300px;
    height: 600px;
    border:solid $colorbasic;
    border-radius: 30px;
    }

    #home-h2ubi {
    @include title;
    font-size: 13pt;
    text-align: center; 
    }

    li {margin-bottom: 20px;}

/* MAIN DOCENTES */

    #tabladocentes {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    list-style: none;


    border-spacing: 20px;
    font-size: small  ;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    text-align: center;
    }

    main .col {
    text-align: center;
    font-size: 8pt
    }

    /* FONT SIZES (MAIN) */

            #home-h2 {
            @include title;
            font-size: $fdtitulos;
            }

            h3 {
            font-size: $fdfechas;
            }

            h4 {
            font-size: $fdsubtitulos
            }

            h5 {
            font-size: $fdestandar;
            
            }

            p {
            font-size: $fdcontenido;
            }
        }

        footer {

          padding: 30px;

          #newsletter1 {
            font-size: 14px
          }
      
          .btn {
            font-size: 16px
          }

          form h5 {
            font-size: 18px
          }
          
          .row {
        
            padding-left: 50px;
        
              h5 {
                font-size: $fdestandar;
              }
          
              .nav-item {
                font-size: $fdcontenido;
              }
        
            }
        
            .formulario {
              font-size: 16px;
        
              p {
                font-size: 13px
              }
            }
        
            .textofinal {
              font-size: 12px;
               text-align: center;
            }

          
        }
    }

@media screen and (min-width:991px){

.navbar-brand {
@include ocultar;
}
}
