nav {
    grid-area: nav;
    padding-top: 20px;
    
    padding: 0%;
    background-color: $colorbasic;
    
    .navbar-nav {
        padding-top: 10px;
    }

    .navbar-nav li {
        font-size: 14pt;
    }
    .navbar-nav li:hover {
            background-color: #ccc;
            border-radius: 10px;
    }
    .navbar {
        background-color: $colorbasic;
    }
    
    .navbar-brand {
        padding-top: 10px;
        font-size: 15pt;
    }
    .container-fluid {
        background-color: $colorbasic;
    }
}