
/*======== ANIMACIONES ========*/

@keyframes animaciontitulo {
    from {
      opacity: 0%;
      }
    
      to {
        opacity: 100%
      }
    }


/*======== VARIABLES ========*/

$bgcolor: rgb(234, 239, 233);
$colorbasic: rgb(192, 238, 175);
$titlecolor: rgb(111, 160, 94);

// FONTSIZES

// Desktop
$fdtitulos: 25px;
$fdfechas: 19px;
$fdsubtitulos: 18px; 
$fdestandar: 17px;
$fdcontenido: 16px;
// Mobile
$fmtitulos: 22px;
$fmfechas: 17px;
$fmsubtitulos: 16px;
$fmestandar: 15px;
$fmcontenido: 14px;


