
/*======== ANIMACIONES ========*/

@keyframes animaciontitulo {
    from {
      opacity: 0%;
      }
    
      to {
        opacity: 100%
      }
    }


/*======== VARIABLES ========*/

// COLORES

$colores: (
  general: rgb(234, 239, 233),
  basico: rgb(192, 238, 175),
  titulos: rgb(111, 160, 94)
);

$bgcolor: map-get($map: $colores, $key: general);
$colorbasic: map-get($map: $colores, $key: basico);
$titlecolor:map-get($map: $colores, $key:titulos);

// FONTSIZES

$fontdesktop: (
  titulos: 25px,
  fechas: 19px,
  subtitulos: 18px,
  estandar: 17px,
  contenido: 16px,
);

$fdtitulos: map-get($map: $fontdesktop, $key: titulos);
$fdfechas: map-get($map: $fontdesktop, $key: fechas );
$fdsubtitulos: map-get($map: $fontdesktop, $key: subtitulos );
$fdestandar: map-get($map: $fontdesktop, $key: estandar );
$fdcontenido: map-get($map: $fontdesktop, $key: contenido );

$fmtitulos: $fdtitulos - 3;
$fmsubtitulos: $fdsubtitulos - 3;
$fmfechas: $fdfechas - 3;
$fmestandar: $fdestandar - 3;
$fmcontenido: $fdcontenido - 3;

// MIXIN

@mixin title {
  text-decoration: underline;
  color: $titlecolor;
  
}



