* {margin: 0%;padding: 0;}

/* BASE DEL DOCUMENTO */

body {
    background-color: rgb(234, 239, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

grid-template-areas: 
"header header"
"nav nav"
"main main"
"footer footer";

}


/* ACTIVADOR DE BORDES DE CONTENEDORES
header,nav,main,footer,aside {border: solid red 1px} */

header {grid-area: header;
width: 100%;
height: 200px;
background-image: url(./public/back1.jpg); 
background-size: cover; 
align-items: center;
justify-content: center;
text-align: center;
margin: auto;
background-color: rgb(234, 239, 233);
}

nav {
    grid-area: nav;
    padding-top: 20px;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 1.5em;
    
;}


footer {
    grid-area: footer;

width: 100%;
    
}

/* --------HEADER--------- */

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
}

.logo {
    align-items: center;
    justify-content: center;   
 ;
}
.datos {
    align-items: center;
    justify-content: center;
    justify-items: center
;
}

#header-titulo {
    color: rgb(49, 70, 54);
     text-align: center;
     justify-content: center;
     text-shadow: 2px 2px 4px rgb(131, 131, 131);
     font-size: 20pt
;}

.datos {
    animation-delay: 0ms;
    display: inline-block;
    margin: 0 0.5rem;
    animation-name: animaciontitulo;
    animation-duration: 2s; 
}


#header-datos {
        color: rgb(63, 63, 63); 
        text-align: left;
    }


/* --------NAV--------- */

/* NAV BS */

nav {
    padding: 0%;
}

.navbar-nav {
    padding-top: 12px;
}
nav .d-flex {
    padding-bottom: 15px;
}
.navbar-nav li {
    font-size: 14pt;
}
.navbar-nav li:hover {
        background-color: #ccc;
        border-radius: 10px;
}
.navbar {
    background-color: rgb(192, 238, 175);
}

.navbar-brand {
    padding-top: 10px;
    font-size: 15pt;
}


/* --------MAIN--------- */


#home-main-contenido {
    background: white; 
    padding-top: 2em; 
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between 2em;
    background-color: rgb(234, 239, 233);
    text-align: left;

}

main ul {
    list-style: none;
}

#home-h2 {
    text-decoration: underline;
    color: rgb(2, 110, 110);
    font-size: 15pt; 
}

main h3 {
    font-size: 12pt;
}

main h4 {
    font-size: 11pt;
}

main h5 {
    font-size: 10pt;
}

main p {
    font-size: 9pt;

}

main li {
    font-size: 9pt;
}

footer h6 { font-size: 9pt;

}



/* --------MAIN(NOSOTROS)-------- */


.ubicacion {
   
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    justify-self: right;
}

.ubicacion iframe {
    width: 250px;
    height: 250px;
    border:solid rgb(14, 161, 161);
    border-radius: 30px;
}

#home-h2 {
        text-decoration: underline;
        color: rgb(2, 110, 110);
        font-size: 13pt;
        text-align: left; 
}

#home-h2ubi {
    text-decoration: underline;
    color: rgb(2, 110, 110);
    font-size: 13pt;
    text-align: left; 
}

li {margin-bottom: 20px;}

/* --------MAIN(ALUMNOS)-------- */
.fichas {
    padding: 20px;
    border-radius: 20px;
    border: solid rgb(0, 173, 116) 2px;
}

.actividades {
    padding: 20px;
    border-radius: 20px;
    border: solid rgb(0, 173, 116) 2px
    
}

#tablaalumnos{
    font-size: small; text-align-last: auto;
}

/* --------ASIDE-------- */
aside .nav-item {
    background-color: rgb(192, 238, 175)
}

aside nav {
    background-color: rgb(192, 238, 175)
}

aside {
    align-items: right;
    padding: 0%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    justify-self: right;
    margin-right: 25px;
}
/* --------FOOTER-------- */


  .page-footer {
    background-color: rgb(192, 238, 175); 
  }

  #footerdatos1 {
    visibility: hidden;
    display: none;
  }

  h3 {
    font-style: italic; font-size: 8pt; color: black;
  }

  footer h5 {
      font-size: 12pt bold;
      text-align: center;
     
  }
 

/*======== ANIMACIONES ========*/

@keyframes animaciontitulo {
    from {
        margin-top: 100%;
        height: 200%
      }
    
      to {
        margin-top: 0%;
        height: 100%;
      }
    
}

/*======== MEDIA QUERY ========*/

@media screen and (min-width:991px){
    
.navbar-brand {
    visibility: hidden;
    overflow: hidden;
    display:none
}

}


@media screen and (min-width:768px) 

{
/* NAV */

    #nav-lista li {
       padding: 0px 20px;
}


/* --------MAIN GRID (NOSOTROS)-------- */

.main-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "izquierda derecha";
}

.ubicacion {
    grid-area: derecha;
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.ubicacion iframe {
    width: 300px;
    height: 600px;
    border:solid rgb(14, 161, 161);
    border-radius: 30px;
}

#home-h2ubi {
    text-decoration: underline;
    color: rgb(2, 110, 110);
    font-size: 13pt;
    text-align: center; 
}

li {margin-bottom: 20px;}

/* MAIN DOCENTES */

#tabladocentes {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    list-style: none;


    border-spacing: 20px;
    font-size: small  ;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

main .col {
    text-align: center;
    font-size: 8pt
}

/* ASIDE */

.home-aside {
    visibility: visible;
}

.formmobile
{
    visibility: hidden;
}

/* FONT SIZES */

#home-h2 {
    text-decoration: underline;
    color: rgb(2, 110, 110);
    font-size: 17pt; 
}

main h3 {
    font-size: 14pt;
}

main h4 {
    font-size: 13pt;
}

main h5 {
    font-size: 12pt;
}

main p {
    font-size: 11pt;
}

nav {
    font-size: 12pt;
}

/* FOOTER */

#footerdatos2 {
    visibility: hidden;
    display: none;
  }

.footer table {
    border-spacing: 40px 10px;
    padding-bottom: 10px;
}

#footerdatos1 {
    visibility: visible;
    display:block
  }
}